.root {
    textColor: #bbbdc1;
    -fx-base: base;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    base: #090a0c;
}
.text{
    -fx-fill: textColor;
}
.titles{
    -fx-font-size: 20px;
}
.tree-view{
    -fx-box-border: transparent;
}
.tab-pane{
    -fx-box-border: transparent;
}
.status-bar{
  -fx-background-insets: 0,0,0,0;
  -fx-background-color: linear-gradient(to bottom, derive(base, 50%)1%,derive(base, 30%),derive(base, 10%), base);
}
#planet-List .list-cell:even{
    -fx-background-color: #0d1015;
    -fx-fill: textColor;

}
#planet-List{
    -fx-background-color: #0d1015;
}
#planet-List .list-cell{
    -fx-fill: textColor;
}
#planet-List .list-cell:hover{
    -fx-fill: white;
}
#planet-List .list-cell:even:selected{
    -fx-fill: textColor;
    -fx-background-color: grey;
}
#planet-List .list-cell:odd{
    -fx-background-color: #0d1015;
}
#planet-List .list-cell:odd:selected{
    -fx-fill: white;
    -fx-background-color: grey;
}
.menu-bar{
    -fx-background-insets: 0,0,0,0;
}
.tab-pane .tab{
    -fx-border-color: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 8 8 0 0;
}
.tab-pane .tab-header-background{
    -fx-background-insets: 0px;
}
.cell:filled .text{
    -fx-fill: black;
}




