.root {
    textColor: #dbd9d9;
    -fx-base: base;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    base: #252526;
}
.text{
    -fx-fill: textColor;
}
.titles{
    -fx-font-size: 20px;
}
.tree-view{
    -fx-box-border: transparent;
}
.tab-pane{
    -fx-box-border: transparent;
}
.status-bar{
  -fx-background-insets: 0,0,0,0;
  -fx-background-color: linear-gradient(to bottom, derive(base, 50%)1%,derive(base, 30%),derive(base, 10%), base);
}
.menu-bar{
    -fx-background-insets: 0,0,0,0;
}
.tab-pane .tab{
    -fx-border-color: transparent;
    -fx-background-insets: 0px;
    -fx-background-radius: 8 8 0 0;
}
.tab-pane .tab-header-background{
    -fx-background-insets: 0px;
}
.cell:filled .text{
    -fx-fill: black;
}




